@model UserBusinessLayer.FeatureAccess

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FeatureAccess</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AppEntityID, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AppEntityID", String.Empty)
            @Html.ValidationMessageFor(model => model.AppEntityID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebLinkID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebLinkID)
            @Html.ValidationMessageFor(model => model.WebLinkID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AppFeatureID, "SIA_AppFeature")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AppFeatureID", String.Empty)
            @Html.ValidationMessageFor(model => model.AppFeatureID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AllowFeatureFlag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AllowFeatureFlag)
            @Html.ValidationMessageFor(model => model.AllowFeatureFlag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnlockQ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnlockQ)
            @Html.ValidationMessageFor(model => model.UnlockQ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnlockAttempt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnlockAttempt)
            @Html.ValidationMessageFor(model => model.UnlockAttempt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnlockedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnlockedBy)
            @Html.ValidationMessageFor(model => model.UnlockedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnlockedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnlockedDate)
            @Html.ValidationMessageFor(model => model.UnlockedDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
