@model UserBusinessLayer.FeatureAccess

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FeatureAccess</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.PIN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.PIN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebLinkID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebLinkID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SIA_AppFeature.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SIA_AppFeature.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllowFeatureFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllowFeatureFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnlockQ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnlockQ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnlockAttempt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnlockAttempt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnlockedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnlockedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnlockedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnlockedDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
