@model IEnumerable<UserBusinessLayer.WebSiteUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SIA_WebLinks.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_User.PIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIA_WebRole.WebRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredByID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GateStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GateQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GateAttemptDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SIA_WebLinks.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_User.PIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIA_WebRole.WebRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredByID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GateStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GateQuestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GateAttemptDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WebSiteUserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WebSiteUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WebSiteUserID })
        </td>
    </tr>
}

</table>
