<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - LayOut</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/font-awesome")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @*<script scr="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.1.js"></script>*@



    </head>
<body>
    <section >
        
        @RenderBody()
     </section>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/googlejs")
    @Scripts.Render("~/bundles/bootstrapjs")
    @RenderSection("scripts", required: false)
</body>
</html>
